# Python
__pycache__/
*.pyc
.env
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# AWS credentials - NEVER commit these
.aws/
credentials

# DS Store (Mac)
.DS_Store
.venv/
grafana-provisioning/datasources/athena.yaml
